body{

background:#0f172a;
color:white;
font-family:Arial;

}

.box{

width:250px;
margin:auto;
margin-top:150px;

background:#020617;
padding:20px;

}

#topbar{

background:black;
padding:10px;

}

#main{

display:flex;

}

#rooms{

width:120px;
background:#020617;

}

#chat{

flex:1;

}
