body{
margin:0;
height:100vh;
display:flex;
font-family:Arial;
background:#0f0f0f;
color:white;
overflow:hidden;
}

#sidebar{
width:200px;
background:#111;
padding:10px;
}

.room{
padding:10px;
border-bottom:1px solid #222;
cursor:pointer;
}

#chat{
flex:1;
display:flex;
flex-direction:column;
}

#messages{
flex:1;
overflow-y:auto;
padding:15px;
}

.msg{
background:#1c1c1c;
padding:10px;
border-radius:10px;
margin-bottom:10px;
max-width:70%;
}

.system{
opacity:.7;
font-style:italic;
}

#input{
display:flex;
padding:10px;
background:#000;
}

#text{
flex:1;
padding:10px;
border-radius:20px;
border:none;
}

button{
margin-left:5px;
padding:10px;
background:#ff2e63;
border:none;
color:white;
border-radius:8px;
}
