body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(45deg,#ff4b7d,#ff758c);
  color: white;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #ff2e63;
}

#chat {
  height: 70vh;
  overflow-y: auto;
  padding: 10px;
}

.msg {
  background: white;
  color: black;
  margin: 5px;
  padding: 8px;
  border-radius: 10px;
}

.input-box {
  display: flex;
  padding: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  background: #ff2e63;
  color: white;
  border: none;
}

#sidebar {
  position: fixed;
  left: -200px;
  top: 0;
  width: 200px;
  height: 100%;
  background: white;
  color: black;
  transition: 0.3s;
}

#sidebar.show {
  left: 0;
}

.login-box {
  text-align: center;
  margin-top: 100px;
}
